@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');

body {
    background-color: #fffdf6;
}

* {
    direction: rtl;
    font-family: 'Changa', sans-serif;
}

.logo img {
    height: 35px;
}

section .bg, .image ,.bl{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.image {
    background-image: url(../pics/two-turned-on-computers.jpg);
}

section .bg {
    background-image: url(../pics/office.jpg);
}

.bl{
    background-image: url(../pics/office2.jpg);
}

.bg {
    padding-top: 30%;
    text-align: center;
}

.botn {
    margin: 0 auto;
    top: 82px;
}

.about , .others{
    width: 70%;
    margin: auto;
}

.weare{
    text-align: center;
    margin: 120px 50px 60px;
}

.weare h1 {
    margin-bottom: 40px;
}

.about img , .others img{
    width: 90%;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.others img{
    height: 200px;
}

.about .info, .others h1 {
    padding-top: 3%;
    text-align: right;
    padding-right: 35px;
    background-color: #ece8d9;
    border-radius: 7px;
    width: 70%;
}
.about .info{
   height: 15em; 
}
    
.info p {
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 18px;
}

.row {
    margin: 40px auto;
}

.projects .pic img, .services .serv img {
    width: 200px;
    padding: auto;
}


.projects {
    margin: 150px auto 0;
    padding: 15px;
    background-color: #ece8d9;
    color: #494949;
    border-radius: 7px;
    text-align: right;
}

.projects li{
    list-style: none;
}

.projects h1{
    text-align: center;
}

.pro{
    background-color: #fffdf6;
}

.services, .team, .others{
    margin: 200px auto;
    text-align: center;
}

